@font-face {
    font-family: 'outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'young';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

:root{
    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
}

@media only screen and (max-width: 375px) {
    body{
        width: 375px;
    }
}

body{
    background-color: var(--Eggshell);
    font-family: 'outfit';
    align-items: center;
    font-size: 16px;
    color: var(--WengeBrown);
}

main{
    min-width: 375px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 30px;
    padding-bottom: 50px;
    text-align: justify;
    background-color: white;
    border-radius: 10px;
}

p{
    line-height: 25px;
    padding-right: 30px;
}
@media only screen and (max-width: 375px){
    img{
        width: 375px;
    }
}

img{
    min-width: 375px;
    max-width: 660px;
    margin-left: 6px;
    margin-top: 50px;
    border-radius: 10px;
}

h1{
    font-family: 'young';
    font-weight: 400;
    color: var(--DarkCharcoal);
}

h2{
    font-size: 29px;
    font-family: 'young';
    font-weight: 400;
    color: var(--Nutmeg);
}

h3{
    padding-left: 20px;
    font-size: 20px;
    color: var(--DarkRaspberry);
}

hr{
    min-width: 320px;
    max-width: 650px;
    margin-right: 40px;
    border-color: var(--LightGrey);
}

.p{
    background-color: var(--RoseWhite);
    min-width: 375px;
    max-width: 630px;
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
}

li{
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 40px;
}

li::marker{
    color: var(--Nutmeg);
    font-weight: 800;
}

ul > li::marker{
    font-size: 14px;
}

span{
    display: inline-block;
    color: var(--Nutmeg);
    font-weight: 800;
}

span.l{
    min-width: 150px;
    max-width: 300px;
    padding-left: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: var(--WengeBrown);
    font-weight: 400;
}