@font-face {
    font-family: 'outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'young';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

:root{
    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
}

body{
    background-color: var(--Eggshell);
    font-family: 'outfit';
    align-items: center;
    color: var(--WengeBrown);
}

main{
    width: 375px;
    margin: 0 auto;
    text-align: justify;
    background-color: white;
}

p{
    font-size: 16px;
}

img{
    width: 375px;
}

h1{
    font-family: 'young';
    font-weight: 400;
    color: var(--DarkCharcoal);
}

h2{
    font-family: 'young';
    font-weight: 400;
    color: var(--Nutmeg);
}

h3{
    color: var(--DarkRaspberry);
}

hr{
    width: 320px;
    border-color: var(--LightGrey);
}

.p{
    background-color: var(--RoseWhite);
    width: 320px;
    border-radius: 10px;
}

li::marker{
    color: var(--Nutmeg);
    font-weight: 800;
}

ul > li::marker{
    font-size: 14px;
}

span{
    display: inline-block;
    color: var(--Nutmeg);
    font-weight: 800;
}

span.l{
    width: 150px;
    color: var(--WengeBrown);
    font-weight: 400;
}