@font-face {
    font-family: 'outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'young';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

:root{
    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
}

body{
    background-color: var(--Eggshell);
    font-family: 'outfit';
    align-items: center;
    color: var(--WengeBrown);
}

main{
    width: 100vw;
    margin: 0 auto;
    background-color: white;
}

p{
    font-size: 16px;
    padding-left: 30px;
    line-height: 25px;
}

img{
    width: 375px;
}

h1{
    padding-left: 30px;
    font-family: 'young';
    font-weight: 400;
    color: var(--DarkCharcoal);
}

h2{
    padding-left: 30px;
    font-family: 'young';
    font-weight: 400;
    color: var(--Nutmeg);
}

h3{
    color: var(--DarkRaspberry);
    padding-left: 30px;
}

hr{
    width: 320px;
    border-color: var(--LightGrey);
}

.p{
    margin-left: 27px;
    background-color: var(--RoseWhite);
    width: 320px;
    border-radius: 10px;
    height: 150px;
}

li{
    margin-left: 10px;
    line-height: 25px;
    padding-bottom: 10px;
}

li::marker{
    color: var(--Nutmeg);
    font-weight: 800;
}

ul > li::marker{
    font-size: 14px;
}

span{
    display: inline-block;
    color: var(--Nutmeg);
    font-weight: 800;
}

span.l{
    padding-left: 50px;
    width: 150px;
    color: var(--WengeBrown);
    font-weight: 400;
}

.e{
    padding-bottom: 50px;
}






@media screen and (min-width: 768px){
    @font-face {
        font-family: 'outfit';
        src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    }
    
    @font-face {
        font-family: 'young';
        src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
    }
    
    :root{
        --Nutmeg: hsl(14, 45%, 36%);
        --DarkRaspberry: hsl(332, 51%, 32%);
        --RoseWhite: hsl(330, 100%, 98%);
        --Eggshell: hsl(30, 54%, 90%);
        --LightGrey: hsl(30, 18%, 87%);
        --WengeBrown: hsl(30, 10%, 34%);
        --DarkCharcoal: hsl(24, 5%, 18%);
    }
    
    body{
        background-color: var(--Eggshell);
        font-family: 'outfit';
        align-items: center;
        color: var(--WengeBrown);
    }
    
    main{
        width: 700px;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-left: 30px;
        padding-bottom: 50px;
        text-align: justify;
        background-color: white;
        border-radius: 10px;
    }
    
    p{
        line-height: 25px;
        padding-right: 30px;
        font-size: 16px;
    }
    
    img{
        width: 660px;
        margin-left: 6px;
        margin-top: 50px;
        border-radius: 10px;
    }
    
    h1{
        font-family: 'young';
        font-weight: 400;
        color: var(--DarkCharcoal);
    }
    
    h2{
        font-family: 'young';
        font-weight: 400;
        color: var(--Nutmeg);
    }
    
    h3{
        padding-left: 20px;
        color: var(--DarkRaspberry);
    }
    
    hr{
        width: 650px;
        margin-right: 40px;
        border-color: var(--LightGrey);
    }
    
    .p{
        background-color: var(--RoseWhite);
        width: 630px;
        height: 180px;
        padding-top: 10px;
        margin-right: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 10px;
    }
    
    li{
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 40px;
    }
    
    li::marker{
        color: var(--Nutmeg);
        font-weight: 800;
    }
    
    ul > li::marker{
        font-size: 14px;
    }
    
    span{
        display: inline-block;
        color: var(--Nutmeg);
        font-weight: 800;
    }
    
    span.l{
        width: 300px;
        padding-left: 50px;
        padding-bottom: 5px;
        padding-top: 5px;
        color: var(--WengeBrown);
        font-weight: 400;
    }
}